openapi: 3.1.0
info:
  title: AgentStack MCP API
  description: 'AgentStack backend ecosystem: 8DNA hierarchical data, Rules Engine,
    Buffs (trials/subscriptions), Payments, Agents Fleet, AI Builder, Storage, Support,
    RAG, and one MCP tool (agentstack.execute). The generated action catalog is the
    source of truth: call GET /mcp/actions or consult docs/MCP_CAPABILITY_MATRIX.md.
    Keep this OpenAPI small for GPT Actions: discover first, then execute exact action
    names through POST /mcp.'
  version: 0.4.11
  contact:
    name: AgentStack
servers:
- url: https://agentstack.tech
  description: Production MCP server
paths:
  /mcp:
    post:
      operationId: execute_tool
      summary: Execute an AgentStack MCP tool
      description: 'Call a registered AgentStack action by exact name with parameters.
        Discover allowed action names first with list_actions or docs/MCP_CAPABILITY_MATRIX.md.
        Ask the user for confirmation before destructive, money-moving, or access-changing
        mutations.'
      x-openai-isConsequential: true
      security:
      - ApiKeyAuth: []
      - OAuth2Auth:
        - mcp:execute
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - tool
              properties:
                tool:
                  type: string
                  description: Full MCP tool name (e.g. projects.create_project_anonymous,
                    projects.get_projects).
                params:
                  type: object
                  description: Key-value parameters for the tool. Schema depends on
                    the tool; discover via GET /mcp/actions or MCP_CAPABILITY_MATRIX.
                  additionalProperties: true
            examples:
              create_project:
                summary: Create anonymous project
                value:
                  tool: projects.create_project_anonymous
                  params:
                    name: My GPT Project
              get_projects:
                summary: List projects
                value:
                  tool: projects.get_projects
                  params: {}
      responses:
        '200':
          description: Tool executed successfully. Response shape depends on the tool.
          content:
            application/json:
              schema:
                type: object
                description: Tool result (success, data, or error details).
        '400':
          description: Bad request (e.g. missing tool name or invalid params).
        '401':
          description: Missing or invalid API key/OAuth token.
        '404':
          description: Tool name not found in registry.
  /mcp/actions:
    get:
      operationId: list_actions
      summary: List available AgentStack MCP actions
      description: Discovery endpoint for action names, summaries, categories, and required capabilities. Use before executing an unfamiliar action.
      x-openai-isConsequential: false
      security:
      - ApiKeyAuth: []
      - OAuth2Auth:
        - mcp:execute
      responses:
        '200':
          description: Action catalog returned successfully.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  additionalProperties: true
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
      description: API key from AgentStack (anonymous project or account). Get one
        via MCP_QUICKSTART.
    OAuth2Auth:
      type: oauth2
      description: >-
        OAuth2 Authorization Code + PKCE flow via the AgentStack OAuth server.
        API-key authentication remains the simplest Custom GPT setup path.
      flows:
        authorizationCode:
          authorizationUrl: https://agentstack.tech/api/oauth2/authorize
          tokenUrl: https://agentstack.tech/api/oauth2/token
          scopes:
            mcp:execute: Execute AgentStack MCP actions
            projects:read: Read projects
            projects:write: Create or update projects
